.st {
    position: sticky;
    top: 0px;
    z-index: 10000;
  }
  
  .minheader {
    display: flex;
    background-color: black;
    margin: 0;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .kcolor {
    color: white;
  }
  
  .title {
    color: blue;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
  }
  
  .menumin {
    display: flex;
    color: white;
    position: relative;
    gap: 20px;
  }
  
  .menumin li {
    position: relative; /* این خط اضافه شده است */
  }
  
  .submenuo {
    background-color: white;
    color: black;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* این مقدار اضافه شده برای اطمینان از نمایش روی سایر عناصر */
  }
  
  .menumin li:hover .submenuo {
    display: block;
  }
  
  
  .btn-header {
    background-color: blue;
    transform: skew(-15deg);
    padding: 10px 15px;
    color: white;
    border: none;
    transition: all 0.5s ease;
    font-weight: bold;
  }
  
  .btn-header:hover {
    border-radius: 20px;
  }
  
  .btn-menu {
    background-color: transparent;
    color: white;
    border: none;
    display: none;
    font-size: 20px;
  }
  
  /* استایل منوی موبایل */
  .hidemenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    background-color: white;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
    padding-top: 60px;
    transition: left 0.3s ease;
  }
  
  .hidemenu.open {
    left: 0;
  }
  
  @media only screen and (max-width: 700px) {
    .minboxmenu, .btn-header {
      display: none;
    }
    .btn-menu {
      display: block;
    }
  }
  