.background-slide{
    background-image: url('/public/images/slide-2.jpg');
    background-size: 100%;
    padding: 20px;
    margin: 16px;
    text-align: center;
    color: white;
    width: 90%;
}
.background-slide h1{
    padding: 20px;
    margin: 50px;
    
}
.background-slide p{
  text-align:center;
}
.background-slide img{
    transform: skew(-8deg);
    border-radius: 8px;
    filter: grayscale(100%);
    width: 70%;
}
@media only screen and (max-width: 800px) {
    .background-slide img{
        transform: skew(0deg);
        width: 70%;
    }
}
  